@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #F6F7FD;
    --color-primary-50: #F6F7FD;
    --color-primary-100: #F1F2F9;
    --color-primary-200: #E7E8F1;

    --color-secondary: #1A1740;
    --color-secondary-50: #1A1740;
    --color-secondary-100: #2C2A4F;
    --color-secondary-200: #302E4E;

    --color-accent: #7582E4;
    --color-accent-50: #7582E4;
    --color-accent-100: #7E8BEB;
    --color-accent-200: #8590EB;

    --color-warning: #EBAA1E;
    --color-danger: #BD230F;
    --color-success: #45B40D;

    --font-fustat: Fustat, sans-serif;
    --font-space-mono: Space Mono, monospace;

    --pane-shadow: 0px 0px 66.3px 0px rgba(26, 23, 64, 0.1);
}

@layer components {
    html {
        background: var(--color-primary);
        font-family: var(--font-fustat);
        color: var(--color-secondary);
        overflow: hidden;
        letter-spacing: -0.04em;
        line-height: 1;
    }

    h1 {
        @apply text-4xl font-space-mono font-bold tracking-tighter leading-[0.8];
    }

    .navlink.active svg {
        @apply !stroke-primary;
    }

    .navlink {
        @apply flex items-center gap-2 px-6 py-4 text-lg w-full rounded-xl transition duration-300 ease-in-out;
    }
}
